@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url(./header.css);
@import url(./footer.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  background: #e0e0e0;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 2em;
}

.main__tittle{
  width: 80%;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0.6em;
}

.cursos__container{
  display: grid;
  grid-template-columns: 100%;
  gap: 1.2em;
  width: 80%;
}

.curso__card{
  border-radius: 5px;
  overflow: hidden;
}

.card__img{
  position: relative;
  width: 100%;
  height: 250px;
}

.card__img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text{
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0,0,0,0.35);
  display: flex;
  align-items: flex-end;
  padding-left: 1em;
  padding-bottom: 0.7em;
}

.card__text span{
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .main__tittle{
    text-align: left;
    font-size: 1em;
  }

  .cursos__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px){
  main{
    margin-bottom: 4em;
  }

  .cursos__container{
    grid-template-columns: repeat(3, 1fr);
  }
}