@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url(./header.css);
@import url(./carousel.css);
@import url(./footer.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  background: #e0e0e0;
}

.home__background{
  position: relative;
  width: 100%;
  min-height: inherit;
}

.home__background img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__content{
  background: rgba(0,0,0,0.5);
  position: relative;
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content__text{
  width: 80%;
  color: #fff;
  font-size: 1em;
  text-align: justify;
}

.content__text a{
  color: #000;
  text-decoration: none;
  font-size: 0.9em;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.main__about{
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #eee;
  padding: 3em 0;
}

.main__experience{
  min-height: 50vh;
  width: 100%;
  background: #e6e6e6;
  padding: 3em 0;
}

.experience__services{
  width: 100%;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.main__experience h1{
  text-align: center;
  margin-bottom: 10px;
}

.experience__text{
  text-align: justify;
  margin-bottom: 20px;
  white-space: pre-line;
}

.experience__text h3{
  text-align: center;
}

.main__blog,
.main__autoaprendizaje{
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.blog__tittle{
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
  z-index: 1;
}

.blog__cards-container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.blog__card{
  height: 250px;
  background: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.blog__card::before{
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #a6a6a6;
  transform: skewY(354deg);
  transition: 0.5s;
}

.blog__card h3{
  transition: 0.5s;
}

.blog__card:hover::before{
  transform: skewY(380deg);
}

.blog__card:hover .card__img,
.blog__card:hover h3{
  transform: translateY(-35px);
}

.blog__card:hover .card__text{
  opacity: 1;
  top: 165px;
}

.blog__card .card__img{
  position: relative;
  width: 115px;
  height: 100px;
  transition: 0.5s;
  margin-bottom: 10px;
}

.blog__card .card__img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.card__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 200px;
}

.card__text a{
  text-decoration: none;
  padding: 5px 30px;
  background: #ddd;
  color: #000;
  border-radius: 20px;
  margin-top: 5px;
  transition: 1s;
}

.main__help{
  background: #cacaca;
  width: 100%;
  padding: 30px 0;
}

.main__help h1{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.help__content{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.help__form{
  width: 100%;
}

.form__input{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1em;
  outline: none;
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 8px;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: .2em;
  color: #464343;
  cursor: pointer;
}

.form__input:focus {
  border-color: #76787a;
} 

.help__img{
  display: none;
}

@media screen and (min-width: 550px){
  .experience__services{
    grid-template-columns: 75%;
  }

  .help__content{
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  .help__form{
    width: 45%;
  }

  .help__img{
    display: block;
    width: 50%;
  }

  .help__img img{
    max-width: 100%;
  }
}

@media screen and (min-width: 768px){

  .content__text{
    font-size: 1.4em;
  }

  .main__experience h1{
    font-size: 1.6em;
  }

  .experience__services{
    grid-template-columns: repeat(3, 30%);
    gap: 22px;
  }

  .experience__text{
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px){
  .content__text{
    width: 80%;
    font-size: 1.8em;
  }

  .content__text a{
    font-size: 0.7em;
  }

  .main__about{
    min-height: 35vh;
  }

  .main__experience{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main__experience h1{
    margin-bottom: 25px;
  }

  .blog__tittle{
    text-align: left;
  }

  .main__help h1{
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1200px){
  .main__content{
    min-height: 100vh;
  }

  .main__about{
    min-height: 60vh;
  }

  .main__about h1,
  .main__experience h1{
    font-size: 2.3em;
  }

  .experience__text{
    margin-right: 20px;
    font-size: 1.2em;
  }

  .help__content{
    width: 80%;
  }

  .help__form{
    width: 40%;
  }

  .help__img{
    width: 45%;
  }
}